<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momo's components (Accordion)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>FAQ</h1>

      <ul class="accordion" id="faq">
        <li class="accordion-item">
          <a href="#" class="toggle-accordion-item">
            <span>This is an FAQ question</span>
          </a>
          <div class="accordion-content">
            <div class="content-outer">
              <div class="content-inner">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                totam asperiores beatae minima praesentium ad nobis obcaecati
                cupiditate, iusto temporibus aliquid maiores aliquam voluptate
                accusantium earum dolores aut, sint, eligendi magni est libero
                veniam ducimus. Dolorum, pariatur. Aliquid fugit minus, aperiam
                reiciendis id laudantium voluptatem cupiditate odit voluptatum,
                dolor aut ullam. Adipisci vitae impedit assumenda iure esse
                quos! Nam, necessitatibus! Delectus vel velit similique
                voluptate, voluptatum illum? Natus, at libero nostrum dolorem
                quia aperiam blanditiis voluptate, magni minus totam voluptas?
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-item">
          <a href="#" class="toggle-accordion-item">
            <span>This is an FAQ question</span>
          </a>
          <div class="accordion-content">
            <div class="content-outer">
              <div class="content-inner">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                totam asperiores beatae minima praesentium ad nobis obcaecati
                cupiditate, iusto temporibus aliquid maiores aliquam voluptate
                accusantium earum dolores aut, sint, eligendi magni est libero
                veniam ducimus. Dolorum, pariatur. Aliquid fugit minus, aperiam
                reiciendis id laudantium voluptatem cupiditate odit voluptatum,
                dolor aut ullam. Adipisci vitae impedit assumenda iure esse
                quos! Nam, necessitatibus! Delectus vel velit similique
                voluptate, voluptatum illum? Natus, at libero nostrum dolorem
                quia aperiam blanditiis voluptate, magni minus totam voluptas?
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-item">
          <a href="#" class="toggle-accordion-item">
            <span>This is an FAQ question</span>
          </a>
          <div class="accordion-content">
            <div class="content-outer">
              <div class="content-inner">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                totam asperiores beatae minima praesentium ad nobis obcaecati
                cupiditate, iusto temporibus aliquid maiores aliquam voluptate
                accusantium earum dolores aut, sint, eligendi magni est libero
                veniam ducimus. Dolorum, pariatur. Aliquid fugit minus, aperiam
                reiciendis id laudantium voluptatem cupiditate odit voluptatum,
                dolor aut ullam. Adipisci vitae impedit assumenda iure esse
                quos! Nam, necessitatibus! Delectus vel velit similique
                voluptate, voluptatum illum? Natus, at libero nostrum dolorem
                quia aperiam blanditiis voluptate, magni minus totam voluptas?
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
