<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <section>
        <h1>Page Title</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa tempora
          sunt atque saepe nemo? Porro praesentium deserunt ipsum quaerat. Nihil
          quas facere accusantium id eligendi omnis temporibus iusto dignissimos
          quo reprehenderit nam nisi eaque unde rem voluptatum, tenetur nostrum
          totam et quod consequuntur, autem accusamus. Eaque atque perspiciatis
          ullam excepturi. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aliquam ratione tenetur velit maiores tempore?
        </p>
        <a href="#modal1" class="open-modal">Open modal</a>
      </section>
      <div id="modal1" class="modal-container hidden invisible">
        <div class="modal">
          <a href="#modal1" class="close-modal">
            <svg
              width="20"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <!--!Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                d="M504.6 148.5C515.9 134.9 514.1 114.7 500.5 103.4C486.9 92.1 466.7 93.9 455.4 107.5L320 270L184.6 107.5C173.3 93.9 153.1 92.1 139.5 103.4C125.9 114.7 124.1 134.9 135.4 148.5L278.3 320L135.4 491.5C124.1 505.1 125.9 525.3 139.5 536.6C153.1 547.9 173.3 546.1 184.6 532.5L320 370L455.4 532.5C466.7 546.1 486.9 547.9 500.5 536.6C514.1 525.3 515.9 505.1 504.6 491.5L361.7 320L504.6 148.5z"
              />
            </svg>
          </a>

          <h2>Modal title</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Blanditiis, explicabo accusamus dignissimos voluptatem pariatur
            soluta ex quis quisquam amet deleniti nostrum voluptas porro!
            Nesciunt voluptates reprehenderit quas totam dicta aspernatur
            asperiores saepe inventore, nisi aperiam impedit, commodi facilis
            voluptatum adipisci provident unde, praesentium pariatur soluta odit
            recusandae optio distinctio ipsa. Soluta culpa eaque asperiores
            optio minus? Eveniet consectetur molestias nostrum officia atque!
            Necessitatibus explicabo facilis voluptatibus error et! At optio
            maiores facere magni natus doloribus deleniti veritatis quos dolore
            odit.
          </p>
        </div>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
